// !utilities
@import "utilities/functions";
@import "utilities/variables";
@import "utilities/mixin";
// !Boot Strap
@import "custom";
// !Base

@import "base/typography";
@import "base/default";
@import "base/classes";
//! vendor
//! themes
//! layouts
@import "layout/header";
@import "layout/stories";
@import "layout/slider";
@import "layout/services";
@import "layout/sales";
@import "layout/partnership";
@import "layout/supermarket";
@import "layout/categories";
@import "layout/brands";
@import "layout/topselling";
@import "layout/footer";
@import "layout/digimarket";
@import "layout/suggest";
@import "layout/topsales";
@import "layout/blog";
@import "layout/banners";
//! components

//! pages
@import "pages/home";
