.services {
  &__content {
    @include responsive(tabletL) {
      width: 90% !important;
      margin: 1rem auto;
    }
    &-text {
      @include responsive(tabletL) {
        font-size: $fs-lg !important;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include responsive(tabletL) {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
  &__item {
    color: $black;
    height: 15rem;

    &-img > img {
      width: 5.5rem;
      height: 5.5rem;
      @include responsive(mobile) {
        width: 7rem !important;
        height: 7rem !important;
      }
      &-icon {
        padding: 1rem;
      }
    }
  }
}
