.slider {
  max-height: 40rem;

  &:hover {
    .slider__navigation {
      visibility: visible;
    }
  }
  &__navigation {
    position: absolute;
    bottom: 7rem;
    right: 7rem;
    width: 10rem;
    visibility: hidden;
  }
  &__img > img {
    min-height: 28rem;
    object-fit: cover;
  }
}
.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  &-active {
    width: 1.2rem;
    background-color: $white;
    border-radius: 0.5rem;
  }
}
