.supermarket {
  background: url(../../public/images/supermarket/icon.svg) left center
    no-repeat;
  @include responsive(tabletL) {
    flex-direction: row !important;
    justify-content: space-between;
  }
  &__products {
    @include responsive(tabletL) {
      flex-direction: row !important;
      width: 75% !important;
      gap: 1rem;
      justify-content: flex-end;
    }
  }
  &__product {
    width: 6.5rem !important;
    @include responsive(mobile) {
      width: 9rem !important;
    }
    @include responsive(tabletL) {
      width: 6rem !important;
    }

    &-discount {
      @include responsive(mobile) {
        font-size: 1.5rem !important;
        padding: 0.5rem 1rem !important;
      }
      @include responsive(tabletL) {
        font-size: 1.2rem !important;
        padding: 0.5rem !important;
      }
    }
  }
  &__title {
    @include responsive(tabletL) {
      flex-direction: row !important;
    }
    &-label {
      &-text {
        @include responsive(tabletL) {
          font-size: 1.2rem !important;
          width: 12rem !important;
        }
        @include responsive(tabletL) {
          margin-top: 0 !important;
        }
      }
    }
  }
  &__more {
    width: 40%;
    @include responsive(mobile) {
      width: 25% !important;
    }
    @include responsive(mobile) {
      font-size: $fs-lg !important;
    }
    @include responsive(tabletL) {
      margin-top: 0 !important;
      font-size: 1rem !important;
    }
  }
}
