.topselling {
  &__swiper {
    padding-inline-end: 10rem;
    &--line {
      height: 0.1rem;
      bottom: -2rem;
    }
    &-btn {
      position: absolute;
    }
  }
  &__card {
    @include responsive(tabletL) {
      width: 25% !important;
      gap: 2rem;
    }
    &-item {
      width: 100%;
      height: 11rem;
      cursor: pointer;

      &-img {
        width: 8rem;
        height: 8rem;
        @include responsive(tabletL) {
          width: 40rem;
          height: 40rem;
        }
      }
      &-text {
        width: 70vw;
        height: 100%;
        font-size: $fs-xlg;
        @include responsive(tabletL) {
          font-size: $fs-lg;
        }
      }
      &-num {
        width: 3rem;
        padding-left: 2rem !important;
      }
    }
  }
}
